@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--title-color);
}

img {
  width: 100%;
  height: auto;
}
br {
  margin-bottom: 1rem;
}

/*========== BASE CLASS==========*/
.section {
  padding: 1.5rem 0;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

.bd-container {
  width: calc(100%-3rem);
  max-width: 1100px;
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgb(0, 0, 0, 0.1);
  transition: 0.3s;
}

.line {
  display: block;
  width: 2px;
  height: 120%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}
