@media screen and (min-width: 968px) {
  .body {
    margin: 3rem 0;
  }

  .bd-container {
    margin: 0 auto;
  }

  .l-header,
  .scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .resume__left {
    background-color: var(--container-color-alt);
  }

  .resume__left,
  .resume__right {
    padding: 0 1.5rem;
  }

  .section__title,
  .profile_-description {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }

  a.home__button {
    display: none;
  }
  i.download__button {
    display: inline-block;
  }

  .languages__list {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}
