/*========== EXPERIENCE ==========*/
.experience__content {
  display: flex;
}

.experience__time {
  padding-right: 1rem;
}

.experience__data {
  gap: 0.5rem;
}

.experience__title {
  font-size: var(--h3-font-size);
}

.experience__company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.experience__year {
  font-size: var(--smaller-font-size);
}

/*========== PORTFOLIO ==========*/
.portfolio__list--title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.portfolio__list--title span {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.portfolio__list--item a {
  color: var(--text-color);
}

.portfolio__list--item a:hover {
  color: var(--title-color);
}

/*========== LANGUAGE ==========*/
.languages__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.languages__list--item {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

/*========== INTERESTS ==========*/
.interests {
  margin-bottom: var(--mb-3);
}

.interests__container {
  grid-template-columns: repeat(3, 1fr);
  margin: var(--mb-2) 0;
}

.interests__icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: 0.25rem;
}

.interests__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*========== SCROLL ==========*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  border-radius: 0.4rem;
  z-index: 777;
  transition: 0.4s;
  color: var(--title-color);
}

.scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show__scroll {
  visibility: visible;
  bottom: 5rem;
}

.scrolltop.dark-theme {
  color: var(--container-color);
}
